repos:
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--target-version=py311]

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.9.0 # Use the sha / tag you want to point at
  #   hooks:
  #     - id: mypy
  #       args: [--strict, --ignore-missing-imports]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
