[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
tinydb = "*"
pillow = "*"
httpx = "*"
py-cord = { extras = ["voice"], version = "*" }
pynacl = "*"
gql = { extras = ["aiohttp"], version = "*" }
lyricsgenius = "*"
numpy = "*"
wand = "*"
spotify-client = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
