[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
pillow = "*"
httpx = {extras = ["http2"], version = "*"}
pynacl = "*"
gql = { extras = ["aiohttp"], version = "*" }
numpy = "*"
wand = "*"
spotify-client = "*"
dnspython = "*"
beautifulsoup4 = "*"
rich = "*"
motor = "*"
py-cord = "==1.7.3"
tweepy = {extras = ["async"], version = "*"}

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
