[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
pillow = "*"
httpx = {extras = ["http2"], version = "*"}
pynacl = "*"
gql = { extras = ["aiohttp"], version = "*" }
numpy = "*"
wand = "*"
spotify-client = "*"
dnspython = "*"
beautifulsoup4 = "*"
rich = "*"
motor = "*"
py-cord = "*"
aiodns = "*"
orjson = "*"
coinpaprika-async = "*"
tweepy = {extras = ["async"], version = "*"}

[dev-packages]
pre-commit = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
